html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


:root {
  --first-color: #cc4b2c;
  --first-color-dark: #662612;
  --first-color-darken: #290f09;

  --first-color-light: #eae7e6;
  --first-color-lighten: #fffafa;
  --second-color: #0e2431;

  --primary-color: #0d6efd;
  --white-color: #fff;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --info-color: #0dcaf0;
  --success-color: #43eb18;
  --secondary-color: #6c757d;
  --light-color: #f8f9fa;
  --dark-color: #212529;

  --body-color: #FFF;
  --text-color: #000;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.page-login {
  width: 100%;
  height: calc(100vh - 65px);
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}

.login-form {
  width: calc(300px + 10%);
  background-color: var(--body-color);
  box-shadow: 0 14px 24px rgba(0, 0, 0, .15);
  padding: 1rem;
  border-radius: .5rem;
  max-width: 100%;
}

.login__title {
  color: var(--first-color);
  position: relative;
  text-align: center;
}

.login__title::before {
  content: "";
  position: absolute;
  left: -1rem;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: var(--first-color);
}

.login__greeting {
  text-align: center;
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-3);
}

.input__login {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  border-radius: 0;
  outline: none;
  margin: 0 .5rem .5rem .5rem;
  width: calc(100% - 1rem);
  padding: .5rem .75rem;
}

.label__login {
  margin: 0 0 .5rem .5rem;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-password,
.create-account {
  font-size: var(--small-font-size);
  cursor: pointer;
}

.forgot-password:hover,
.create-account:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.login__alert-error {
  background-color: var(--danger-color);
  padding: 1rem;
  border-radius: .5rem;
  margin-bottom: var(--mb-3);
}

.create-account {
  color: var(--secondary-color);
}

.forgot-password {
  margin-left: auto;
  color: var(--primary-color)
}

/* Custom checkbox */
.check__remember {
  display: block;
  position: relative;
  padding-left: 1.5rem;
  margin-bottom: var(--mb-3);
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check__remember input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.check__remember:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check__remember input:checked~.checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check__remember input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check__remember .checkmark:after {
  left: 5px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* Loader */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}


.skills {
  min-height: calc(100vh - 3rem);
  padding: var(--mb-2);
}

.skills__container {
  text-align: center;
  row-gap: 2rem;
}

.skills__subtitle {
  margin-bottom: var(--mb-2);
}

.skills__text {
  font-size: var(--small-font-size);
  text-align: start;
}

.skills__data {
  display: flex;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: auto;
  margin-bottom: 2rem;
  width: 100%;
}

.skills__names {
  display: flex;
  flex-direction: column;
}

.skills__data>.skills__names>i {
  font-size: 1.25rem;
  margin-right: 0.5rem;
}

.skills__data>.skills__percentage {
  margin-left: auto;
}

.skill__bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: var(--danger-color);
  border-radius: 0.5rem;
  transition: 1s ease;
}


/*******   CSS scroll    **********/
::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 13px;
}

::-webkit-scrollbar:horizontal {
  height: 13px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 2px solid #ffffff;
}